fastapi==0.115.2
uvicorn[standard]==0.34.0

pydantic==2.10.6
pydantic-settings==2.9.1
email-validator==2.1.1

python-dotenv==1.1.0

pymongo==4.6.3
dnspython==2.6.1  # required for MongoDB Atlas

httpx==0.27.0      # for testing or making external HTTP calls
watchfiles==1.1.0  # for autoreload in dev mode

pytest==8.2.2
